{% extends 'base.html' %}

{% block conteudo %}

    {% comment %}
    {# Esse é um exemplo de comentário de linha #}
    No index.html, vamos usar a tag {% for %}.
    Ela funciona quase igual ao for do Python,
    mas precisa de um aviso de onde termina ({% endfor %}).
    {% endcomment %}

    <div class="container mt-5">

        <h2 class="mb-4 text-center">Nossos Produtos</h2>

        <div class="row">

            {% for produto in produtos %}

            <div class="col-12 col-md-4 mb-4">

                <div class="card shadow-sm h-100">

                    {% if produto.foto %}
                    <img src="{{ produto.foto.url }}" class="card-img-top" alt="{{ produto.nome }}"
                        style="height: 200px; object-fit: cover;">
                    {% else %}
                    <img src="/media/produto-sem-imagem.gif" class="card-img-top" alt="Sem foto"
                        style="height: 200px; object-fit: cover;">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ produto.nome }}</h5>

                        <h6 class="card-subtitle mb-2 text-muted">
                            R$ {{ produto.preco }}
                        </h6>

                        <p class="card-text">
                            {{ produto.descricao|truncatewords:20 }}
                        </p>

                        <a href="{% url 'detalhe_produto' produto.id %}" class="btn btn-primary w-100">Ver Detalhes</a>
                    </div>

                </div>
            </div>

            {% empty %}
            <div class="col-12 text-center mt-5">
                <h3 class="text-muted">😢 Ops! Não encontramos nenhum produto com esse nome</h3>
                <a href="{% url 'home' %}" class="btn btn-outline-primary mt-3">Ver todos os produtos</a>
            </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}